<section id="about">
  <div class="container pt-5 mb-5">
    <h2 class="mb-4">À propos de moi…</h2>
    <p>Autrice de romans à succès, je m’inspire d’un quotidien immanquablement empreint de surprises. Sensible à la découverte de nouvelles cultures et de nouveaux horizons, j’ai parcouru le monde en famille, m’installant parfois une année dans un pays, laissant ainsi à l’exotisme le temps de conquérir mon imagination.</p>
    <p>Passionnée par la langue française et par son pouvoir lyrique, je mets mes compétences au service des causes qui me tiennent à cœur – liberté d’être et d’exister, quels que soient son histoire, ses aspirations, ses différences. Cette volonté de donner une voix aux thématiques trop souvent négligées m’a également motivée à prêter ma plume. Mon dernier roman intitulé Impact retrace ainsi le parcours véritable d’une femme victime de violence domestique.</p>
    <p>Autre projet littéraire qui m’a particulièrement tenu à cœur? La rédaction de mes deux romans Quand tu me prends dans tes bras, je vois la vie en Lila ainsi que sa suite De l’Aurore au Sépia. Une aventure culturelle, humaine et professionnelle qui m’a permis de me découvrir une passion pour le monde de l’édition. Si j’ai effectivement un penchant pour les mots, pour les sonorités et pour la myriade de sensations qui en découlent, j’aime également l’aspect plus techniques des professions entourant le livre. Toujours prête à relever des défis, je me suis donc volontairement auto-édité. Vendus à plusieurs milliers d’exemplaires, le pari est réussi! Vous ne connaissez pas encore l’histoire de Lila? Découvrez-la sans plus attendre!</p>
    <p>Parallèlement à cette écriture engagée, je n’oublie jamais de laisser aux mots le loisir de me divertir! Nouvelle drôle et assumée, Anatomie d’un plan cul se veut léger et surprenant.</p>
    <div class="text-bg-dark p-4 mt-5">
      <div class="grid align-items-center">
        <div class="g-col-12 g-col-lg-6 g-col-xl-8">
          <h3 class="mb-3 text-primary">Ecrire pour vous</h3>
          <p class="opacity-75">Amoureuse des mots et de la littérature, je crois pouvoir dire que j’écris depuis toujours. Pour moi, pour vous, pour une entreprise: ma vie est rythmée depuis de nombreuses années par le bruit des pages qui se tournent et par le cliquetis de mes doigts sur le clavier de mon ordinateur!</p>
          <p class="opacity-75">Que ce soit donc dans le cadre d’une activité de romancière inspirée ou dans celui, plus cadré, d’une activité professionnelle et institutionnelle, la rédaction fait partie de mon quotidien.</p>
          <p class="mb-0 opacity-75">Vous avez un projet littéraire? L’envie de mettre en mots une thématique qui vous tient à cœur? N’hésitez pas à me contacter!</p>
        </div>
        <div class="g-col-12 g-col-lg-6 g-col-xl-4">
          <img src={{ "img/service.jpg" | relURL }} class="img-fluid" alt="...">
        </div>
      </div>
    </div>
  </div>
</section>