<section id="shop" class="bg-secondary-subtle">
  <div class="container pt-5 pb-3">
    <h2 class="mb-4">Shop</h2>
    <p>Envie de découvrir mon univers littéraire? Alors n’attendez plus pour vous procurer mes romans! Livre papier ou
      en version numérique: votre format est à portée de click.</p>
    <div id="my-store-113583755"></div>
    <div>
      <script data-cfasync="false" type="text/javascript"
        src="https://app.ecwid.com/script.js?113583755"
        charset="utf-8"></script>
      <script
        type="text/javascript"> xProductBrowser("categoriesPerRow=4", "views=grid(1,4) list(60) table(60)", "categoryView=grid", "searchView=list", "id=my-store-113583755");</script>
    </div>
  </div>
</section>
